body{
    font-family: poppins;
    margin: 0;
}
.adjust{margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;

}
/* --------------
   header section
   ----------------- */
#brand-name{
    font-size: 24px;
    font-weight: 700;
    margin-top: 87px ;
    margin-left: 120px;
}
#influencer{
    display: flex;
}

.influencer-info{
    margin-bottom: 50px;
}
.influencer-title{
    font-size: 52px;
    font-weight: 700;
}
.click-button{
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color:#e0205a;
    padding: 10px 24px;
    border-radius: 20px;
}

.image-effect:hover{
    transform: scale(1.1);
    transition: transform 2s;

}

/*--------------
 main section 
 -----------------*/
article{
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
}


.collection{
    text-align: center;
    color: gray;
}
h4{
    font-weight: 700;
    font-size: 28px;
}
.griding{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.dollar{
    font-size: 24px;
}
.smaller-text{
    font-size: 14px;
}
.smallest{
    color: gray;
}
.fill{
    color: #FB8200;
}
.see-more{
    margin-top: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    color: hotpink;
    font-size: 18px;
}
/* --------------
   January sell section
   --------------------- */
#januarysell{
    margin-top: 87px;
    width: 100%;
    margin-bottom: 50px;
    padding: 40px;
    display: flex;
    background-color: whitesmoke;
}
#january-sell-title{
    font-size: 40px;
    color: #8b0000;

}

#januarysell img{
    width: 350px;
    margin-top: 20px;
    padding-right: 20px;
}

#january-sell-para{
    font-size: 20px;
    color: salmon;
}

/*-------------
 Footer 
 ----------------*/
footer{
    width: 100%;
    margin-top: 40px;
    padding: 50px;
    text-align: center;
    background-color:#0A0826;
    color: white;
}
.fa-twitter, .fa-facebook{
    color: white;
}



/* ----------
   media-queries
   ------------ */

   /* For mobile devices */
@media only screen and (max-width:688px) {
    #influencer{
        flex-direction: column;
    }
    .griding{
        grid-template-columns: repeat(1,1fr);
    }
    #januarysell{
        flex-direction: column;
    }
    
}

/* For Tablet devices */
@media only screen and (min-width:689px) and (max-width:980px) {
    .griding{
        grid-template-columns: repeat(2,1fr);
    }
    
}